{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ homeurl }}" title="Compagnie Saseo">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign sorted = site.pages | sort: 'sidebar_order' %}
      {% for node in sorted %}
        {% if node.title != null and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% if node.parts != null %}
            <div class="sidebar-subitems">
              {% for part in node.parts %}
                <a class="sidebar-nav-item" href="{{ node.url }}#{{ part.anchor }}">{{ part.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
      
    </nav>

    <div style="display: flex; justify-content: space-between;">
      <small>
        Saseo &ndash; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
      </small>
      <small>
        <a style="top: -2px; position: relative;" href="https://www.facebook.com/Ciesaseo/" target="_blank" title="Facebook Saseo">
          <i class="fa fa-fw fa-lg fa-facebook-square" aria-hidden="true"></i>
        </a>
      </small>
    </div>
  </div>
</aside>
