{% assign homeurl = site.baseurl | append: "/" %}
<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><a href="{{ homeurl }}" title="Compagnie Saseo">{{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign sorted = site.pages | sort: 'sidebar_order' %}
      {% for node in sorted %}
        {% if node.title != null and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
      
    </nav>

    <small>
      Contact – <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#97;&#99;&#105;&#101;&#115;&#97;&#115;&#101;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;'>&#108;&#97;&#99;&#105;&#101;&#115;&#97;&#115;&#101;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
    </small><br/>
    <small>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. Tous droits réservés.
    </small>
  </div>
</aside>
