// Can be used under a title
.subtitle {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-style: italic;
}

.text-muted {
  color: #9a9a9a;
}

h1.page-title {
  margin-bottom: 1rem;
}
